@{
    ViewData["Title"] = "Housing Details";
}

@model Housing

<link rel="stylesheet" href="/css/_Button.css" type="text/css" />


<div class="row gx-5 justify-content-md-center" style="padding-top:20vh;padding-bottom:20vh;">
    <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid col-4"/>
    <div class="col-6 d-flex flex-column align-content-stretch">
        <h3 class="p-2">@Model.Name</h3>
        <h5 class="p-2">@Model.Including</h5>
        <h5 class="p-2">@Model.StartDate.ToString("yyyy-MM-dd") - @Model.EndDate.ToString("yyyy-MM-dd")</h5>
        <p class="p-2">@Model.Description</p>
        
        <h3 class="d-flex col mt-5">@Model.Rent.ToString("0.00 NOK/night")</h3>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with buttons">
            <div class="btn-group" role="group" aria-label="First button">
                <a asp-controller="Order" asp-action="CreateOrder" asp-route-id="@Model.HousingId" class="btn-default-small">Reserve</a>
            </div>
            <div class="btn-group" role="group" aria-label="Seconds button">
                <a class="btn-dark-small" href="/Housing/Table">Go Back</a>
            </div>
        </div>
    </div>
</div>



