@model IEnumerable<Housing>

<div class="container" style="padding-bottom:5vw;">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Rent</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>

        @foreach (var housing in Model)
        {
            <tr>
                <td>@housing.HousingId</td>

                <td>
                    <a asp-controller="Housing"
                       asp-action="Details"
                       asp-route-id="@housing.HousingId">@housing.Name</a>
                </td>
                <td>@housing.Rent.ToString("0 NOK/night")</td>
                <td>@housing.Description</td>
                <td>
                    <img src="@housing.ImageUrl" alt="Item Image" style="max-width:80px; max-height: 80px;"/>
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Update" asp-route-id="@housing.HousingId" class="btn btn-outline-primary">Update</a>
                        <a asp-action="Delete" asp-route-id="@housing.HousingId" class="btn btn-outline-danger">Delete</a>
                    }
                    <a asp-controller="Housing"
                       asp-action="Details"
                       asp-route-id="@housing.HousingId" class="btn-default-small">See more</a>
                </td>
            </tr>
        }
    </table>
    <p>
        @if (User.IsInRole("Admin"))
        {
            <a class="btn-dark-small"
               asp-controller="Housing"
               asp-action="Create">Create new Housing</a>
        }
        
    </p>
</div>